/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
}
.header .logo {
  height: 3rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
  transition: all 0.3s;
}

.mobile-navbar-btn {
  display: none;
  cursor: pointer;
  background: transparent;
}

.mobile-nav-icon {
  width: 3rem;
  height: 3rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/*  Responsive 980px */

@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    color: #212529;
    border: 3px solid #212529;
  }
  .header {
    position: relative;
  }

  .header .logo {
    width: 10%;
  }
  .navbar {
    /* display: none; */
    width: 50%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* to get the transiotion */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }
  .header .logo {
    width: 60%;
  }
}

/* Hero Section Css */
.section-hero,
.section-services {
  padding: 9.6rem;
  background-color: #a5d8ff;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-services {
  background-color: #f3f0ff;
}

.section-hero p,
.section-services p {
  font-size: 3.2rem;
}
